<div class="page">
    <div class="row no-gutters col-12 band"><img src="./assets/band.jpeg" class="picUp"></div>
    <div class="row no-gutters">
        <div class="header col-12">
            <a href="" class="logo">Welcome to the Wild Circus !</a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a routerLink="/homepage">Home</a></li>
                <li><a routerLink="/price">Prices</a></li>
                <li><a routerLink="/media">Media</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <h2>Pictures</h2>
    <div class="row no-gutters">

        <img class="img-fluid" src="./assets/roar.jpg" alt="Chania">
        <img class="img-fluid" src="./assets/circus.jpeg" alt="Chania">
        <img class="img-fluid" src="./assets/dance.jpg" alt="Chania">
        <img class="img-fluid" src="./assets/jump.jpg" alt="Chania">

    </div>
    <div class="row no-gutters">
        <img class="img-fluid" src="./assets/band.jpeg" alt="Chania">
        <img class="img-fluid" src="./assets/link.jpg" alt="Chania">
        <img class="img-fluid" src="./assets/statue.jpg" alt="Chania">
        <img class="img-fluid" src="./assets/beatles.jpg" alt="Chania">
    </div>

    <h2>Videos</h2>
    <div class="row no-gutters">
        <video autoplay>
        <source src="./assets/balls.mp4" type="video/mp4">
      Your browser does not support the video tag.
      </video>
        <video autoplay>
          <source src="./assets/backstage.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
    </div>

    <div class="footer">
        <div class="nightsky">
            <div class="star-1">
            </div>
            <div class="star-2">
            </div>
            <div class="star-3">
            </div>
            <div class="star-4">
            </div>
            <div class="star-5">
            </div>
            <div class="star-6">
            </div>
            <div class="star-7">
            </div>
            <a href="https://github.com/ayantot/checkpoint4-WCS">
                <img src="./assets/github.png" class="github" />
            </a>
            <a href="https://wildcodeschool.fr/la-loupe/">
                <img src="./assets/wild.png" class="wild" />
            </a>
            <a href="www.linkedin.com/in/thomas-tegny">
                <img src="./assets/linkedin.png" class="linkedin" />
            </a>
        </div>

    </div>